body {
    font-family:Arial, Helvetica, sans-serif ;
    background-color: darkorchid;
    color:chartreuse
}
h1 {
    color:aqua
}
/*attribute selector*/
a{
    color:chocolate;
    text-decoration: none;
}
a:hover {
    color:brown
}
/*child selector*/
ul > li {
    font-weight: bold;
}
/*sibling selector*/
h1 + p {
    background-color:cadetblue;
    padding: 10px;
    border-radius: 5px;
}
/*hover pseudo-class*/
ul li:hover {
    color:darkblue;
}
/* :nth-child(n) Pseudo-class*/
ul li:nth-child(3) {
    background-color:ivory;
}
/* not(selector) Pseudo-class*/
p:not(:first-of-type) {
    text-decoration: underline;
}
/* before Pseudo-element*/
ul li::before {
    content:"🚀"
}
/* after Pseudo-element*/
a::after {
    content:"🌕"
}
/* ::first-letter Pseudo-element*/ 
    p::first-letter {
        font-size: 200%;
        color:deeppink
    }

